<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.springcloudprovider.repository.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.qiqi.springcloudprovider.repository.domain.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from roles
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from roles r, user_role ur
        where r.id = ur.role_id
        and user_id = #{userId,jdbcType=BIGINT}
    </select>

</mapper>